// ==========================================================================
//   Cards.
// ==========================================================================

.card {
    width: 100%;
    flex: 1 0 100%;
    position: relative;
    margin-bottom: $grid-gutter;
    background-color: $white;

    // Optimised to avoid DOM repaints
    &::after {
        content: "";
        @include coverer;
        opacity: 0;
        @include card(2);
        transition: opacity 0.2s ease;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    .ie & {
        flex-basis: auto;
    }

    &__link {
        @include coverer-link;
        @include hide-text;
    }
}
