// ==========================================================================
//   Hamburger.
// ==========================================================================

$hamburger-bar-width: 40px;
$hamburger-bar-height: 4px;
$hamburger-bar-spacing: 6px;
$hamburger-border-radius: 4px;
$hamburger-color: $primary;
$hamburger-speed: 120ms;

.hamburger {
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	padding: 1em;
	display: inline-block;
	cursor: pointer;
	transition: opacity 150ms;

	&:hover {
		opacity: 0.7;
	}

	&__box {
		width: $hamburger-bar-width;
		height: $hamburger-bar-height * 3 + $hamburger-bar-spacing * 2;
		display: block;
		position: relative;
	}

	&__inner {
		display: block;
		top: 50%;
		margin-top: $hamburger-bar-height / -2;
		transition: transform $hamburger-speed ease;

		&,
		&::before,
		&::after {
			position: absolute;
			width: $hamburger-bar-width;
			height: $hamburger-bar-height;
			background-color: $hamburger-color;
			border-radius: $hamburger-border-radius;
			transition: transform $hamburger-speed cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&::before {
			top: ($hamburger-bar-spacing + $hamburger-bar-height) * -1;
			transition: top $hamburger-speed$hamburger-speed 0.14s ease, opacity $hamburger-speed$hamburger-speed ease;
		}

		&::after {
			bottom: ($hamburger-bar-spacing + $hamburger-bar-height) * -1;
			transition: bottom $hamburger-speed$hamburger-speed 0.14s ease, transform $hamburger-speed$hamburger-speed cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	&.is-active {
		.hamburger__inner {
			transform: rotate(45deg);
			transition-delay: 0.14s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

			&::before {
				top: 0;
				opacity: 0;
				transition: top $hamburger-speed ease, opacity $hamburger-speed 0.14s ease;
			}

			&::after {
				bottom: 0;
				transform: rotate(-90deg);
				transition: bottom $hamburger-speed ease, transform $hamburger-speed 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}
}
