// ==========================================================================
//   Alerts.
// ==========================================================================

%alert {
    margin: $base-padding;
    padding: 0.5em 1em;
    border: 1px solid;

    > p,
    > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 0.5em;
    }
}

.alert {
    &--help {
        @extend %alert;
        background: tint($alert-yellow, 75%);
        border-color: $alert-yellow;
    }

    &--info {
        @extend %alert;
        background: tint($alert-blue, 75%);
        border-color: $alert-blue;
    }

    &--error  {
        @extend %alert;
        background: tint($alert-red, 75%);
        border-color: $alert-red;
    }

    &--success  {
        @extend %alert;
        background: tint($alert-green, 75%);
        border-color: $alert-green;
    }
}
