// ==========================================================================
//   Forms.
// ==========================================================================

label {
    display: inline-block;
    margin-bottom: 0.5em;
}

input,
select,
textarea,
.field {
    display: block;
    line-height: 1em;
    padding: 0.25em 1em;
    margin-bottom: $base-padding;
    @include rem(font-size, 1);
    color: $font-color;
    border-radius: $base-radius;
    vertical-align: middle;
    box-shadow: none;
    border: 0;
    width: 100%;
    max-width: 400px;
    font-family: $font-body;
    background-color: $grey-tint;
    transition: background-color 0.2s;

    &:focus,
    &:active {
        background-color: $grey-tint;
        outline: none;
    }

    &.is-invalid,
    &.error {
        color: $alert-red;
        border-color: $alert-red;
        background-color: $white;
        outline-color: $alert-red;
    }

    &.is-valid,
    &.success {
        color: $alert-green;
        border-color: $alert-green;
        background-color: $white;
        outline-color: $alert-green;
    }

    &.is-disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.65;

        &:focus,
        &:active {
            background-color: $alert-blue;
        }
    }
}

input[type="password"] {
    letter-spacing: 0.3em;
}

[type="file"],
[type="checkbox"],
[type="radio"] {
    margin: 0 0 $base-padding;

    & + label {
        display: inline-block;
        margin: 0 $base-padding 0 $half-padding;
        vertical-align: baseline;
    }

    label > & {
        margin-right: $half-padding;
    }
}

[type="file"] {
    width: 100%;
}

fieldset {
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0;

    legend {
        margin-bottom: $half-padding;
    }
}


textarea {
    height: auto;
    min-height: 50px;
    border-radius: $base-radius;
}

select {
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 0.6875em;
    padding-right: 2.5rem;
    appearance: none;
    width: 100%;
    border-radius: $base-radius;
}
