/* ==========================================================================
   Forms.
   ========================================================================== */

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
    display: block;
    line-height: 1em;
    padding: 0.25em 1em;
    margin-bottom: $base-padding;
    @include rem(font-size, 1);
    color: $font-color;
    border-radius: $base-radius;
    vertical-align: middle;
    box-shadow: none;
    border: 0;
    width: 100%;
    max-width: 400px;
    font-family: $font-body;
    background-color: $grey-tint;
    @include transition(background-color 0.2s ease-in-out);

    &:focus,
    &:active {
        background-color: $grey-tint;
        outline: none;
    }

    &.is-invalid,
    &.error {
        color: $alert-red;
        border-color: $alert-red;
        background-color: $white;
        outline-color: $alert-red;
    }

    &.is-valid,
    &.success {
        color: $alert-green;
        border-color: $alert-green;
        background-color: $white;
        outline-color: $alert-green;
    }

    &.is-disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.65;

        &:focus,
        &:active {
            background-color: $alert-blue;
        }
    }
}

input[type="password"] {
    letter-spacing: 0.3em;
}

[type="file"],
[type="checkbox"],
[type="radio"] {
    margin: 0 0 $base-padding;

    & + label {
        @include inline-block;
        margin: 0 $base-padding 0 $half-padding;
        vertical-align: baseline;
    }

    label > & {
        margin-right: $half-padding;
    }
}

[type="file"] {
    width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    legend {
        margin-bottom: $half-padding;
    }
}


textarea {
    height: auto;
    min-height: 50px;
    resize: vertical;
    border-radius: $base-radius;
}

select {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20w…9-11.263s-1.956-8.325-4.89-11.263z%27%20fill%3D%27%23000%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 0.6875em;
    padding-right: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: $base-radius;
}
