// ==========================================================================
//   Images.
// ==========================================================================

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;

    &.aligncenter {
        clear: both;
        margin-bottom: $base-padding;
    }

    &.alignleft, &.alignright {
        @include breakpoint(mama-bear) {
            max-width: 100%;
        }
    }

    &.alignleft { margin-right: 1.5em; }
    &.alignright { margin-left: 1.5em; }

    &.dropshadow {
        &::after {
            content: "";
            @include coverer;
            @include card(1);
        }
    }

    &.circle {
        border-radius: 50%;
    }
}

.figure {
    display: inline-block;

    img {
        margin-bottom: $base-padding;
        line-height: 1;
        width: 100% !important;
        height: auto !important;
    }

    figcaption {
        @include rem(font-size, 0.875);
    }
}
