// ==========================================================================
//   Reboot.
// ==========================================================================

// Border-box everything
* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}


// Make viewport responsive
// @link - https://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design
@-ms-viewport {
    width: device-width;
}


// Reset HTML & body
html {
    font: 100%/#{$line-height-ratio} $font-body;
    -ms-overflow-style: scrollbar;
    color: $font-color;
    background: $background;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-body;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $line-height-ratio;
    color: $font-color;
    background-color: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: none !important;
}

// Remove top margins from headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

// Reset margins on paragraphs
p {
    margin-top: 0;
    margin-bottom: $base-padding;
}

// Abbreviations and acronyms
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted $grey;
}

address {
    margin-bottom: $base-padding;
    font-style: normal;
    line-height: inherit;
}

// Bullets, lists and quotes
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: $base-padding;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 300;
}

dd {
    margin-bottom: $base-padding/2;
    margin-left: 0;
}

blockquote {
    margin: 0 0 $base-padding;
}

// Links
a {
    text-decoration: none;

    &,
    &:visited {
        color: $primary;
    }

    &:hover {
        color: $primary-shade;
        text-decoration: underline;
    }
}

// Code
pre {
    margin-top: 0;
    margin-bottom: $base-padding;
}

// Figures
figure {
    margin: 0 0 $base-padding;
}


// iOS "clickable elements" fix for role="button"
// @link - https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"] {
    cursor: pointer;
}


// Click delay optimization for touch
// @link - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}



// Work around a Firefox/IE bug where the transparent `button` background results in a loss of the default `button` focus styles.
// @credit - https://github.com/suitcss/base/
button:focus {
    outline: 1px dotted;
    outline: $base-radius auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

textarea {
    resize: vertical;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: $base-padding/2;
    @include rem(font-size, 1.5);
}

input[type="search"] {
    -webkit-appearance: none;
}

// Remove text-shadow in selection highlight
::-moz-selection {
    background: $selection-color;
    text-shadow: none;
}
::selection {
    background: $selection-color;
    text-shadow: none;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers
audio,
canvas,
img,
video {
    vertical-align: middle;
}

// Styles Google Maps and MapQuest embeds properly
#map_canvas,
.map_canvas,
.mqa-display {
    img,
    embed,
    object {
        max-width: none !important;
    }
}
