// ==========================================================================
//   Animations.
// ==========================================================================

.animated {
    animation-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: both;
    backface-visibility: hidden;

    &.infinite {
        animation-iteration-count: infinite;
    }
}

.hideme {
    opacity: 0;
}

.fadein {
    animation-duration: 0.2s;
    animation-name: fadeIn;
}

.fadeinUp {
    animation-name: fadeInUp;
}

.fadeinDown {
    animation-name: fadeInDown;
}

.fadeinLeft {
    animation-name: fadeInLeft;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fadeinRight {
    animation-name: fadeInRight;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@for $i from 1 through 30 {
    $j: #{($i  * 100)};

    .delayed--#{$j} {
        animation-delay: #{$j}ms;
    }
}


// ==========================================================================
//   Keyframes.
// ==========================================================================

@include keyframes(slideDown) {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@include keyframes(fadeIn) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@include keyframes(fadeInUp) {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@include keyframes(fadeInDown) {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@include keyframes(fadeInLeft) {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@include keyframes(fadeInRight) {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
