// ==========================================================================
//   Colours.
// ==========================================================================

$colours:
    "primary" $primary,
    "accent" $accent,
    "secondary" $secondary;

@each $i in $colours {
    .background--#{nth($i, 1)} {
        background-color: nth($i, 2);

        + .background--#{nth($i, 1)} {
            padding-top: 1em;
        }
    }
}
