/* ==========================================================================
   General.
   ========================================================================== */

// For syncing jQuery and CSS media queries
.responsiveChecker {
    font-weight: 400;

    @include breakpoint(papa-bear) {
        font-weight: 500;
    }

    @include breakpoint(mama-bear) {
        font-weight: 300;
    }

    @include breakpoint(baby-bear) {
        font-weight: 200;
    }

    @include breakpoint(goldilocks) {
        font-weight: 100;
    }
}

// Border-box everything
* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

// Base styles
html {
    font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $font-body;
    color: $font-color;
    background: $background;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-body;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $line-height-ratio;
    color: $font-color;
	background-color: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Remove text-shadow in selection highlight
::-moz-selection {
	background: $selection-color;
	text-shadow: none;
}
::selection {
	background: $selection-color;
	text-shadow: none;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers
audio,
canvas,
img,
video {
    vertical-align: middle;
}

// Styles Google Maps and MapQuest embeds properly
#map_canvas,
.map_canvas,
.mqa-display {
    img,
    embed,
    object {
        max-width: none !important;
    }
}

// Browser Happy prompt
.browsehappy {
    margin: 0 0 $base-padding;
    background: #ccc;
    color: #000;
    padding: 0.5em 0;
    text-align: center;
}
