// ==========================================================================
//   General.
// ==========================================================================

// For syncing jQuery and CSS media queries
.responsiveChecker {
    font-weight: 400;

    @include breakpoint(papa-bear) {
        font-weight: 500;
    }

    @include breakpoint(mama-bear) {
        font-weight: 300;
    }

    @include breakpoint(baby-bear) {
        font-weight: 200;
    }

    @include breakpoint(goldilocks) {
        font-weight: 100;
    }
}

// Browser Happy prompt
.browsehappy {
    margin: 0 0 $base-padding;
    background-color: $grey-tint;
    color: $black;
    padding: 0.5em 0;
    text-align: center;
}
