// ==========================================================================
//   Accordion.
// ==========================================================================

.accordion {

}

.accordion__item,
.accordion__pane,
.accordion__title {
    width: 100%;
}

.accordion__title {
    position: relative;
    padding: 1em;
}
