// ==========================================================================
//   Hero.
// ==========================================================================

.hero {
	position: relative;
	height: 25em;

	.row {
		height: 100%;
	}

	&.viewport {
		@include breakpoint(baby-bear) {
			height: auto;
			padding: 4em 0;
		}
	}
}
