// ==========================================================================
//   Footer.
// ==========================================================================

.footer {
	width: 100%;
	padding: 3.5em 0;
	background-color: $grey-shade;
	color: $white;

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6,
	ul {
		color: inherit;
		margin: 0 0 $base-padding;
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}

	a,
	p,
	span {
		color: inherit;
		@include rem(font-size, 1);
	}

	img {
		margin-bottom: $base-padding;
	}
}
