// ==========================================================================
//   Header.
// ==========================================================================

.header {
	display: block;
	position: relative;
	margin: 0;

	&__container {
		width: 100%;
		background-color: $background;

		.row {
			height: 100%;
		}
	}
}

.logo {
	h1 {
		@include hide-text;
	}
}
