/* ==========================================================================
   Sections.
   ========================================================================== */

.main {
	z-index: 3456;
  	position: relative;
  	background: $background;
    margin: 0;
}

.section {

}
