// ==========================================================================
//   Deck.
// ==========================================================================

.deck {
    width: calc(100% + #{$grid-gutter});
    display: flex;
    flex-flow: row wrap;
    margin-right: -#{$grid-gutter/2};
    margin-left: -#{$grid-gutter/2};

    @include breakpoint(mama-bear) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    > .col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include breakpoint(baby-bear) {
            display: block;
        }

        .no-flex & {
            display: block;
        }
    }

    &--center {
        justify-content: center;
    }
}
